html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

#map {
  height: 100vh;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #020617;
  color: white;
  padding: 10px;
  text-align: center;
  z-index: 1000;
}

.panel {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(2, 6, 23, 0.9);
  color: white;
  padding: 10px;
  z-index: 1000;
}

.status.safe {
  color: #22c55e;
}

.status.alert {
  color: #ef4444;
}
